/* ==========================================================================
	 Author's custom styles
   ========================================================================== */

@use 'base/resets';
@use 'abstracts/variables' as v;

body {
	background-color: v.$light-gray-blue;
}

main {
	width: 100vw;
}

.container {
	display: grid;
	gap: 1.5rem;
	width: 23.4rem;
	margin: 0 auto;
	padding-top: 4.4rem;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 20.5rem;
	margin: 0 auto;
	padding: 1.5rem 2.09rem 2rem;
	border-radius: 0.7rem;
	color: v.$dark-gray-blue;
	background-color: v.$white;
	h2 {
		color: v.$white-70;
	}
	h3 {
		color: v.$white-50;
	}
	p {
		font-size: 1.25rem;
		font-weight: 600;
		margin-bottom: 1rem;
		line-height: 1.2;
		color: v.$white-80;
		width: auto;
	}
	blockquote {
		flex: 1 1 auto;
		font-size: 0.8rem;
		line-height: 1.4;
		width: 16rem;	// try auto? or not at all
		color: v.$white-50;
	}
}

.violet {
	background: no-repeat url("../img/bg-pattern-quotation.svg")  v.$violet 90% 0%;
}
.gray-blue {
	background-color: v.$dark-gray-blue;
}
.dark-blue {
	background-color: v.$dark-blue;
}
.white {
	h2 {
		color: v.$dark-blue-70;
	}
	h3 {
		color: v.$dark-blue-40;
	}
	p {
		color: v.$dark-blue-80;
	}
	blockquote {
		color: v.$dark-blue-40;
	}
}

header {
	display: grid;
	grid-template-columns: 1fr 5fr;
	margin-bottom: 1rem;
	img {
		height: 2rem !important;
		width: auto;
		border-radius: 50%;
		border: solid 2px v.$white-40;
	}
	div {
		margin-left: 0.3rem;
	}
	h2 {
		font-size: 0.8rem;
		font-weight: 600;
	}
	h3 {
		font-size: 0.7rem;
	}
}



// footer
.attribution {
	margin-top: 2rem;
	font-size: 11px; text-align: center;
	a  {
		color: hsl(228, 45%, 44%);
		}
	}