/* ==========================================================================
   Media Queries for Responsive Design.
   These are for larger viewports,
   overriding the primary ('mobile first') styles.
   ========================================================================== */

@use 'base/resets';

@media only screen and (min-width: 55em) {
	/* Style adjustments for viewports that meet the condition */
	.container {
		display: grid;
		column-gap: 1.8rem;
		row-gap: 1.5rem;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas:
			"a a b c"
			"d e e c";
		width: 69.5rem;
	}

	.card {
		width: auto;
		margin: 0 0;
//		padding-top: 0;

		blockquote {
			flex: 0 1 auto;
			width: auto;
			align-self: center;
		}
	}

	.violet {
		background-position-x: right 5rem;
		grid-area: a;
	}
	.gray-blue {
		grid-area: b;
	}
	.long {
		grid-area: c;
	}
	.short {
		grid-area: d;
	}
	.dark-blue {
		grid-area: e;
	}

}

@media print,
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 1.25dppx),
	(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

