
// Primary colors

$violet: hsl(263, 55%, 52%);
$dark-gray-blue: hsl(217, 19%, 35%);

$dark-blue: hsl(219, 29%, 14%);
$dark-blue-40: hsla(219, 29%, 14%, .4);
$dark-blue-70: hsla(219, 29%, 14%, .7);
$dark-blue-80: hsla(219, 29%, 14%, .8);

$white: hsl(0, 0%, 100%);
$white-50: hsla(0, 0%, 100%, .5);
$white-70: hsla(0, 0%, 100%, .7);
$white-80: hsla(0, 0%, 100%, .8);

// Neutral colors

$light-gray: hsl(0, 0%, 81%);
$light-gray-blue: hsl(210, 46%, 95%);

